<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="text-center">
                <h1 class="text-center">Error: 404</h1>
                <br/>
                <p class="alert alert-danger">Sorry, there's nothing at this address.</p>
            </div>
            
        </LayoutView>
    </NotFound>
</Router>
